*{
    margin: 0;
    padding: 0;
}

body {
		  background: url('../images/port.jpg') no-repeat center center fixed; 
		  background-size: 100% 100%;
		margin: 0;
		padding: 0;
		height: 100%;
		overflow: hidden;
	}
#isspContent {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.zone {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align:  center;
}
.zone video, .zone img {
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	margin: auto;
}
.zone .asset {
	position: relative;
}
#opener {
	/*display: none;*/
	
}
#maincrawler {
	position: absolute;
	width: 100%;
	font-family:  arial;
	font-size: 4.5em;
	font-weight: bolder;
	padding-top: 18px;
	z-index: 999;
	bottom: 0;
	display: none;
}
.messageAlert {
	display: none;
}
.modal-content {
	    border-radius:0;
}
#isspWidgets {
	width: 100%;
	top: 0;
	position:  absolute;
	z-index: 999;
	bottom: 0;
}
.fullscreen-widget {
	position:  absolute;
	width: 100%;
	bottom: 0;
	top: 0;
	height: 100%;
}
.bottom-crawler {
	position:  absolute;
	width: 100%;
	bottom: 0;
	height: 110px;
}
.bottom-crawler iframe, .fullscreen-widget iframe, #_inframe {
	width:  100%;
	height: 100%;
	border: 0;
	background: none;
}
#formModal .modal-content {
	background: #192125;
}